<li id='{{id}}'>
    <dl>
        <dt class='subject'>{{subject}}</dt>
        <dd class='tags'>{{tags}}</dd>
        <dd class='newest-date'>{{newest_date}}</dd>
        <dd class='message-count'>{{message_count}}</dd>
    </dl>
</li>
