<style>
    .odd { background-color: #eee }
    ul, ol { list-style: none }
    li { padding: 10px }
    dt { clear: both; font-weight: bold }
    dd.tags span { background-color: #f92672; padding: 3px; float: right; margin: 3px; font-size: 80% }
</style>
<h1>NotMuch <small>(of a)</small> Webmail</h1>
<p>This is a <strong>proof-of-concept</strong> for an AGPL GMail replacement, using <a href='http://notmuchmail.org'>notmuch</a> mail indexing and tagging and django framework.</p>
<p>This view is showing the latest 50 threads from a Maildir directory, which is a backup of <a href='mailto:solar.general@librelist.com'>solar.general at librelist</a> mail list. Links in the subject goes to a pager view of it's messages. <strong>Nothing else works.</strong> If you want to contribute, fork it <a href='https://github.com/fauno/notmuchwebmail'>on github</a>.</p>
<ul>
    {% for thread in threads %}
    <li id='{{ thread.id }}' class='{% cycle 'odd' 'even' %}'>
        <dl>
            <dt class='subject'><a href='{% url pager thread_id=thread.id %}'>{{ thread.subject }}</a></dt>
            <dd class='tags'>
            {% for tag in thread.tag_list %}
                {% include "tag.html" %}
            {% empty %}
            <span class='notag'>No tags</span>
            {% endfor %}
            </dd>
            <dd class='message-count'>{{ thread.message_count }} message(s)</dd>
            <dd class='newest-date'>{{ thread.newest_date }}</dd>
            <dd class='oldest-date'>{{ thread.oldest_date }}</dd>
            <dd class='duration'>{{ thread.duration }}</dd>

        </dl>
    </li>
    {% endfor %}
</ul>

<div id='license'>
    <p>This software is AGPLv3. <a href='{% url download-targz %}'>Download source code</a> or <a href='https://github.com/fauno/notmuchwebmail'>clone it</a>. </p>
</div>
